  <div class="testimonial-area testimonial-bg bg-gray overly-image section-ptb">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 offset-md-2 col-md-8 col-sm-12">
                        <div class="testimonial-slider">
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <img src="assets/images/icon/quite.png" alt="">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                </div>
                                <div class="test-author">
                                    <h5>JONATHON JORDAN</h5>
                                </div>
                            </div>
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <img src="assets/images/icon/quite.png" alt="">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                </div>
                                <div class="test-author">
                                    <h5>Michelle Mitchell</h5>
                                </div>
                            </div>
                            <div class="testimonial-inner text-center">
                                <div class="test-cont">
                                    <img src="assets/images/icon/quite.png" alt="">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form. There are many variations of passages.</p>
                                </div>
                                <div class="test-author">
                                    <h5>Max Mitchell</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>